body {
  background-image: url("../assets/img/login.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh; }

.login__wrapper {
  width: 100vw;
  height: 100vh;
  margin-bottom: auto; }
  .login__wrapper .center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .login__wrapper .center .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      padding: 50px 50px;
      -webkit-box-shadow: 2px 4px 23px 9px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 2px 4px 23px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 4px 23px 9px rgba(0, 0, 0, 0.1); }
      .login__wrapper .center .login__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; }
        .login__wrapper .center .login__input.hidden {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          height: 0px;
          font-size: 0px; }
          .login__wrapper .center .login__input.hidden > * {
            height: 0px;
            font-size: 0px; }
        .login__wrapper .center .login__input label {
          margin-bottom: 5px;
          font-family: 'Poppins';
          font-weight: 700;
          color: #512d38; }
        .login__wrapper .center .login__input input {
          width: 100%;
          padding: 5px 0;
          border: none;
          border-bottom: 1px solid #f4bfdb;
          font-size: 13px; }
        .login__wrapper .center .login__input input.taken {
          border-bottom: 1px solid red; }
        .login__wrapper .center .login__input input:focus {
          border-bottom: 1px solid #b27092; }
        .login__wrapper .center .login__input ::placeholder {
          color: rgba(0, 0, 0, 0.6); }
        .login__wrapper .center .login__input .input-errormsg {
          color: red;
          font-family: 'Poppins';
          font-size: 12.5px; }
      .login__wrapper .center .login-register {
        font-family: 'Poppins';
        color: #b27092;
        margin-top: 30px;
        margin-bottom: -35px; }
        .login__wrapper .center .login-register--text {
          font-size: 12px; }
          .login__wrapper .center .login-register--text a {
            color: #b27092;
            transition: all .22s ease-out; }
            .login__wrapper .center .login-register--text a:hover {
              font-weight: 600; }
    .login__wrapper .center .button__wrapper {
      display: flex;
      align-items: center; }
      .login__wrapper .center .button__wrapper .login__btn {
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: #b27092;
        padding: 0;
        margin-right: 7.5px;
        cursor: pointer;
        transition: all .22s ease-out; }
        .login__wrapper .center .button__wrapper .login__btn:hover {
          margin-right: 10px; }
      .login__wrapper .center .button__wrapper .button--img {
        width: 20px; }
