body {
    background-color: rgba(255,233,243, .1);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #b27092;

    padding: 20px 25px;
}

.navigation__logo h3 {
    color: #ffe9f3;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.navigation__list {
    display: flex;
    
}

.navigation__list--item {
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
}

.navigation__list--item a {
    text-decoration: none;
    color: #ffe9f3;

    transition: all .22s;
}

.navigation__list--item {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

.navigation__list--item.active a {
    color: #512d38;
}

.navigation__list--item a:hover {
    color: #512d38;
}


