body {
    background-color: rgba(255,233,243, .1);
}

.notifications {
    position: relative;
}

.notification-btn {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.notification-btn:before {
    content: attr(data-notCount);

    font-size: 12px;
    text-align: center;

    position: absolute;
    top: -10px;
    left: auto;
    right: -10px;
    bottom: auto;
    
    width: 15px;
    height: 15px;

    background-color: #87baab;
    color: white;
    border-radius: 50%;

}

.notification-btn.hide-ribbon:before {
    display: none;
}

.notification-btn--icon {
    width: 100%;
    height: 100%;
}

.notifications .notifications-body {
    position: absolute;
    top: 25px;
    left: 0;
    right: auto;
    bottom: auto;

    background-color: white;

    border-radius: 5px;

    height: 0px;
    width: 0px;

    opacity: 0;

    overflow-y: scroll;

    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

    z-index: 15;
    
    transition: all .22s ease-out;

}

.notifications.active .notifications-body {
    height: 250px;
    width: 250px;

    padding: 10px 15px;

    opacity: 1;
}

.notifications.active .notifications-body .loading-icon {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50%;
}

.notifications-body .notification-wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(244, 191, 219, .1);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 5px 7.5px;
}

.notifications-body .notification-wrapper.seen {
    background-color: white;
}

.notifications.active .notifications-body .notification-title {

}

.notifications-body .notification-wrapper .button__wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 10px auto;
}

.notifications-body .notification-wrapper .friend-response-btn {

    color: white;
    font-size: 14px;

    background-color: white;
    padding: 5px 10px;

    border: none;
    border-radius: 5px;

    cursor: pointer;

}

.notifications-body .notification-wrapper .friend-response-btn.accept-friend-request {
    background-color: #87baab;
}

.notifications-body .notification-wrapper .friend-response-btn.deny-friend-request {
    background-color: #b27092;
}

.notifications-body .notification-wrapper.seen {
    background-color: white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #b27092;

    padding: 20px 25px;
}

.navigation__logo h3 {
    color: #ffe9f3;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.navigation__list {
    display: flex;
    
}

.navigation__list--item {
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
}

.navigation__list--item a {
    text-decoration: none;
    color: #ffe9f3;

    transition: all .22s;
}

.navigation__list--item {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

.navigation__list--item.active a {
    color: #512d38;
}

.navigation__list--item a:hover {
    color: #512d38;
}


