$light-color-light: #f4bfdb;
$light-color-dark: #b27092;
$light-color-darker: #512d38;
$light-color-alt: #87baab;

.game__wrapper {

    position: relative;
    margin-top: 60px;
    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    padding: 10px 5px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;

    .leave__button {
        position: absolute;
        top: 20px;
        left: auto;
        right: 25px;
        bottom: auto;

        height: 17px;
        width: 17px;
        
        cursor: pointer;
        transition: all .22s ease-out;

        &:hover {
            transform: rotate(180deg);
        }

        &--icon {
            width: 17px;
            height: 17px;
        }

    }

    .gameUI {
        width: 100%;
        height: 50px;

        .flex__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            margin: 0 auto;
        }

        .clock__wrapper {
            position: relative;

            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 

            .clock--img {
                width: 45px;
                height: 45px;
            }

            .clock--time {
                position: absolute;
                top: 15px;
                left: 14px;
                right: auto;
                bottom: auto;
                font-weight: 700;
                font-size: 15px;

                &.single-digit {
                    left: 17.5px;
                }

            }

        }

        .word__wrapper {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 28px;
            letter-spacing: 5px;
            word-spacing: 10px;
        }

        .round__wrapper {
            display: flex;

            #maxRound, #currentRound {
                font-weight: 700;
            }

        }

    }

    #gameChat {
        width: 200px;

        .chat {
            height: 570px;
            background-color: rgba(244, 191, 219, 0.1);

            .game-chat__message {
                list-style: none;
                padding: 10px 5px;
                font-size: 15px;
                word-wrap: break-word;

                span {
                    margin-right: 2.5px;
                }

            }

            #gameChatMessages {
                overflow-y: scroll;
                height: 100%;
                max-height: 570px;
            }

        }

        #gameSend {
            width: 197px;
            padding: 10px 0;
            border: none;
            padding-left: 5px;
        }

    }

    /*

        Canvas

    */

    .canvas__wrapper {
        position: relative;

        #canvas {
            position: relative;
            z-index: 1;
            border: 1px solid black;
            width: 100%;
        }

        .choosing__word--overlay,
        .player-choosing--overlay,
        .score--overlay,
        .game--end {
            position: absolute;

            height: 100%;
            width: 100%;

            z-index: 5;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgba(0, 0, 0, 0.8);
        }

        .game--end {
            flex-direction: column;

            h2 {
                color: white;
                font-weight: 900;
                font-size: 36px;
                margin-bottom: 35px;
            }

        }

        .choosing__word--overlay {

            .choosing__word--content {
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                .word {
                    position: relative;

                    margin: 0 15px;
                    padding: 10px 15px;

                    border-radius: 5px;

                    font-size: 25px;
                    font-weight: 900;
                    text-transform: uppercase;

                    background-color: white;

                    cursor: pointer;

                    border: 1px solid transparent;

                    transition: all .22s ease-out;

                    &:hover {
                        border: 1px solid #b27092;
                    }

                    &:before {
                        position: absolute;
                        top: 101%;
                        left: 50%;
                        font-size: 9px;
                        width: 50px;
                        text-align: center;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        transform: translateX(-50%);
                    }

                    // Word difficulty ribbons
                    &.easy:before {
                        content: "Easy";
                        background-color: $light-color-alt;
                    }

                    &.medium:before {
                        content: "Medium";
                        background-color: $light-color-light;
                    }

                    &.hard:before {
                        content: "Hard";
                        background-color: $light-color-dark;
                    }

                }

            }

        }

        .player-choosing--overlay {

            .player-choosing__message {
                font-size: 24px;
                font-weight: 700;
                color: white;
            }

        }

    }

    /*

        Canvas Controls

    */

    .canvas__controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        margin-bottom: 15px;
        margin: 0 auto;
        padding: 10px 15px;

        width: 550px;

        border-radius: 5px;

        #clear {
            .clear--icon {
                width: 70px;
                height: 70px;
                cursor: pointer;
            }
        }

        .undo-icon__wrapper {
            width: 25px;
            height: 25px;

            cursor: pointer;

            .undo-icon {
                width: 100%;
                height: 100%;
            }

        }

        .color__wrapper {
            display: flex;

            .color {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 5px;
                
                cursor: pointer;
            }

        }

    }

    /*

        Player list

    */
    .players__list {
        width: 80%;
        margin: 30px auto;

        .players {

            display: flex;
            justify-content: space-around;

        }

        .game__player {

            padding: 5px 10px;
            margin: 10px 15px;
            border-radius: 5px;

            .player__info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        } 

    }


    .players-list {
        display: flex;
        flex-direction: column;

        width: 15%;

        &-player {
            position: relative;

            width: 100%;

            display: flex;
            align-items: center;

            padding: 7.5px 0px;
            border-bottom: 3px solid #f4bfdb;

            transition: all .22s ease-out;

            &.success {
                border-bottom: 3px solid #87baab;
            }

            .player--info {
                margin-left: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;

                margin: 0 auto;
            }

        }

    }

    /* 

        Scoreboard

    */
    .score__overlay--board {
        width: 45%;

        .score-player {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            padding: 10px 0px;
            margin-bottom: 5px;

            border-radius: 5px;
            
            background-color: white;

            .name,
            .score {
                font-size: 18px;
            }

            .score {
                display: flex;
                align-items: center;
            }

            .score-change {
                color: #87baab;
                font-weight: 700;
                font-size: 21px;
                margin-left: 5px;
            }

        }

    }

}

