$light-color-light: #f4bfdb;
$light-color-dark: #b27092;
$light-color-darker: #512d38;
$light-color-alt: #87baab;


body {
    font-family: 'Poppins';
}

h2 {
    color: $light-color-darker;
}

.guest-modal {
    position: absolute;

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;

    border-radius: 5px;

    background-color: white;

    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

    transform: translate(-50%, -50%);

    z-index: 20;

    &--content {
        position: relative;
        padding: 45px 55px;
    }

    &--header {
        color: $light-color-dark;
        font-size: 24px;

        font-weight: 700;

        font-family: 'Poppins';
        text-transform: uppercase;

        text-align: center;

        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-bottom: 45px;

        label {
            color: $light-color-dark;
            margin-bottom: 5px;
            font-size: 15px;
        }

        &--input {
            width: 100%;
            padding: 5px 0;
            border: none;
            border-bottom: 1px solid $light-color-light;
            font-size: 13px;
            margin-bottom: 15px;

            transition: border .22s ease-out;

            &:focus {
                border-bottom: 1px solid $light-color-dark;
            }

        }

        .button__wrapper {
            display: flex;
            align-items: center;

            &--btn {
                border: none;

                background-color: transparent;

                font-size: 14px;
                color: $light-color-dark;

                padding: 0;
                margin-right: 7.5px;

                cursor: pointer;

                transition: all .22s ease-out;

                &:hover {
                    margin-right: 10px;
                }

            }

            .button--img {
                width: 20px;
            }

        }

    }

    &--span {
        display: block;

        width: 100%;

        color: $light-color-dark;
        font-size: 13px;
        text-align: center;

        margin-top: 30px;
        margin-bottom: -30px;

        cursor: pointer;
    }

}

// Friends List
.friends-list {
    position: absolute;

    display: flex;
    flex-direction: column;

    background-color: white;

    top: 65px;
    right: 0;
    left: auto;
    bottom: auto;

    width: 200px;
    height: calc(100% - 60px);

    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

    transition: all .22s ease-out;

    &.hide {
        transform: translateX(100%);
    }

    .friends-list-header {
        padding: 10px 0;
        
        .friend-list-title {
            text-align: center;
            font-family: 'Poppins';
            color: $light-color-darker;
        }
    }

    .friend {
        position: relative;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        padding: 20px 10px;

        cursor: pointer;

        transition: all .22s ease-out;

        &:hover {
            background-color: rgba(0,0,0,0.1);
        }

        &:before {
            content: attr(data-messages);
            
            position: absolute;
            top: auto;
            left: auto;
            right: 10px;
            bottom: auto;

            background-color: $light-color-dark;
            width: 17.5px;
            height: 17.5px;

            text-align: center;

            border-radius: 50%;

            font-size: 12px;
            color: whitesmoke;

        }

        &.hide-ribbon:before {
            display: none;
        }

        &-avatar {
            width: 100%;
        }

        &-name {
            font-family: 'Poppins';
            font-size: 14px;
        }

        &-online {
            &--icon {
                width: 10px;
                height: 10px;
            }
        }

    }

}

.message-bar {

    position: absolute;

    display: flex;
    flex-direction: column;

    top: auto;
    bottom: 2.5px;
    left: 2.5px;
    right: 0;

    width: 48px;
    height: auto;

    cursor: pointer;

    .msg-bubble {

        background-color: white;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        margin-bottom: 5px;

        background-position: center center;
        background-size: 48px;

        -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
        -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
        box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

    }

}

.messages {
    position: absolute;

    top: auto;
    bottom: 2.5px;
    left: 60px;
    right: auto;

    display: inline-flex;

    .chat-wrapper {
        z-index: 5;

        margin-right: 15px;

        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        width: 275px;
        height: 400px;
        background-color: white;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
        -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
        box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

        .chat-action-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            padding: 5px 15px;

            height: 40px;
            background-color: white;

            border-bottom: 1px solid rgba(0,0,0,0.1);

            .chat-user {
                display: flex;
                
                .chat-avatar {
                    width: 20px;
                    height: 20px;
                    background-size: 20px;

                    background-repeat: no-repeat;
                    border-radius: 50%;
                    
                    margin-right: 10px;

                }

                .chat-name {
                    cursor: pointer;

                    font-size: 14px;
                                        
                    &:hover {
                        font-weight: 600;
                    }

                }

            }
            
            .action-btns {
                display: flex;
                align-items: center;

                .action-btn {
                    width: 15px;
                    height: 15px;

                    // margin-left: 10px;

                    cursor: pointer;

                    padding: 7.5px;
                    border-radius: 50%;

                    transition: background-color .22s ease-out;

                    &:hover {
                        background-color: rgba(0,0,0,0.05);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

            }

        }

        .chat-messages {
            box-sizing: border-box;
            height: calc(100% - 50px);
            padding: 7.5px 10px;
            overflow-y: scroll;

            .start-conversation-msg {
                font-size: 13px;
                margin: 0 auto;
                width: 80%;
                text-align: center;
                color: $light-color-darker;
            }

            .message {
                display: table;

                box-sizing: border-box;

                font-size: 14px;

                max-width: 80%;

                margin-bottom: 10px;
                padding: 5px 10px;

                &.received {
                    background-color: rgba(0, 0, 0, .1);
                    border-top-left-radius: 7.5px;
                    border-top-right-radius: 7.5px;
                    border-bottom-right-radius: 7.5px;
                }

                &.sent {
                    margin-left: auto;
                    background-color: rgba(135, 186, 171, .7);
                    border-top-left-radius: 7.5px;
                    border-top-right-radius: 7.5px;
                    border-bottom-left-radius: 7.5px;
                }
            }

        }

        .chat-input-wrapper {
            box-sizing: border-box;
            padding: 10px 5px;
            
            display: flex;
            justify-content: space-around;
            align-items: center;

            border-top: 1px solid rgba(0,0,0,0.1);

            height: 50px;
            width: 100%;

            .chat-input {
                width: 75%;
                border-radius: 15px;
                border: none;
                background-color: #EFF2F5;
                padding: 5px 15px;
                height: 20px;

                color: rgba(0,0,0,0.6);
            }

            .send-icon {
                width: 20px;
                height: 20px;

                cursor: pointer;

                transition: transform .22s ease-out;

                &:hover {
                    transform: translateX(1.5px);
                }

            }

        }

    }

}

.game-browse {
    width: 80%;
    min-height: 400px;

    margin: 45px auto;

    border-radius: 15px;
    display: flex;
    
    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

    @media only screen and (max-width: 800px) {
        
        flex-direction: column;
        
    
        .side-img.image__wrapper {
            display: none;
        }

        .game-browse__content {
            padding: 25px 25px;
            margin: 0 auto;
            width: 80%;
        }

        .join_room {
            margin-left: -7.5%;
        }

        .game-browse__content--room-choice {
            flex-direction: column;
        }

    }

    .image__wrapper {
        width: 27%;

        .image {
            border-radius: 15px;
        }
    }


    .game-browse__content {
        padding: 25px 45px;
        margin: 0 auto;
        width: 60%;

        .game-browse--title {
            margin-top: 10px;
            margin-bottom: 55px;
            color: $light-color-darker;
            text-align: center;

            font-size: 36px;
            // Merriweather
            font-family: 'Poppins';
            font-weight: 600;

        }

        .image__wrapper {
            height: 150px;
            width: 200px;
        }

    }
        
    .game-browse__content--room-choice {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-browse__content--tile {
        margin: 0 35px;
        cursor: pointer;

        transition: all .44s;

        &:hover .image__wrapper .image {
            transform: translateY(-10px);
            transition: all .44s;
        }

    }

    .tile-content--title {
        margin: 15px 0;

        font-family: 'Poppins';
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;

        color: $light-color-darker;

        background-color: transparent;
    }

}

.sub-menu {
    position: relative;

    .return-btn {
        position: absolute;
        top: -45px;
        left: 0;
        right: auto;
        bottom: auto;

        width: 35px;
        height: 25px;

        cursor: pointer;

        transition: all .22s ease-out;

        &:hover {
            top: -48px;
        }

    }

    .refresh-btn {
        position: absolute;
        top: -45px;
        left: auto;
        right: 0;
        bottom: auto;

        width: 35px;
        height: 20px;

        cursor: pointer;

        transition: all .22s ease-out;

        &:hover {
            transform: rotate(45deg);
        }

    }


    .return-img {
        width: 100%;
        height: 100%;
    }

    .create_room {
        transition: all .44s;
    }


}

.lobby {
    position: relative;

    .copy-url {
        position: absolute;

        top: 30px;
        left: -41px;

        padding: 5px;

        background-color: white;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        border-bottom: 1px solid $light-color-light;
        border-left: 1px solid $light-color-light;
        border-top: 1px solid $light-color-light;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: all .22s ease-out;

        &:hover {
            border-bottom: 1px solid $light-color-dark;
            border-left: 1px solid $light-color-dark;
            border-top: 1px solid $light-color-dark;
        }

        &--img {
            width: 30px;
            height: 30px;

            transition: all .22s ease-out;

            &:hover {
                transform: scale(1.2);
            }

        }
    }

    .start-game__btn {
        position: absolute;
        top: auto;
        left: auto;
        right: 45px;
        bottom: 15px;

        display: flex;
        align-items: center;

        cursor: pointer;

        span {
            margin-right: 5px;
            transition: margin-right .22s ease-out;
            font-size: 13px;
            margin-top: 1px;
            color: $light-color-darker;
        }

        &:hover span {
            margin-right: 10px;
        }

        .start-game__icon {
            width: 15px;
            height: 15px;
        }

    }

}

.form,
.lobby-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flex__wrapper {
        display: flex;
        width: 100%; 
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .input_wrapper {
        margin: 0 25px;
        width: 50%;

        label {
            color: $light-color-darker;
        }

    }

    .form-input-text,
    .form-input-number {
        font-family: 'Poppins';

        border: none;
        border-bottom: 1px solid $light-color-light;

        margin-top: 15px;
        padding: 10px 15px;

        transition: all .22s ease-out;
        font-size: 13px;

        width: 100%;

        &:focus {
            border-bottom: 1px solid $light-color-dark;
        }
    }

    .form-input-submit {
        font-family: 'Poppins';
        border: none;
        outline: none;
        font-size: 16px;
        background-color: $light-color-light;    
        padding: 10px 15px;
        border-radius: 5px;

        color: white;

        margin-top: 50px;

        cursor: pointer;

        transition: all .22s ease-out;

        &:hover {
            background-color: $light-color-dark;
            color: white;
        }

    }
}

.modal {

    .checkbox__wrapper {
        position: relative;
        width: 50%;
        height: 20px;

        margin-top: 45px;
        margin-bottom: 45px;

        display: flex;
        justify-content: space-between;


        input { 
            opacity: 0;
            width: 0;
            height: 0;
        }

    }    

}

.slider__wrapper {
    position: relative;
    margin-top: 10px;

    .slider__label {
        margin-bottom: 30px;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        border-radius: 34px;
        transition: .4s;
        width: 41px;

        &:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 4px;
            bottom: 5.5px;
            background-color: white;
            -webkit-transition: .4s;
            border-radius: 50%;
            transition: .4s;
        }
    }
}

.select__wrapper  {

    select option {
        outline: none; 
        border: none;
    }

}

input:checked + .slider {
    background-color: $light-color-light;
}

input:focus + .slider {
    box-shadow: 0 0 1px $light-color-light;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
/* Table */

.join_room {

    transition: all .44s ease-out;

    .rooms-list {
        width: 100%;
        margin: 0 35px;

        max-height: 400px;
        overflow: hidden;

        tbody {

            tr {
                &:nth-child(even) {
                    background-color: #ffe9f3;
                }

                td {
                    padding: 7.5px 0;
                    font-size: 13px;

                    .join-button {
                        background-color: $light-color-dark;

                        padding: 5px  10px;

                        border: none;
                        border-radius: 5px;

                        color: white;
                        
                        cursor: pointer;

                        transition: all .22s ease-out;

                        &:hover {
                            background-color: $light-color-light;
                        }

                    }

                }
            }

        }

    }

    .table-header {
        font-weight: 600;
        font-family: 'Poppins';
        width: 100%;
        margin-bottom: 15px;
        border-bottom: 15px solid transparent;

        tbody {
            width: 100%;
            font-family: 'Poppins';
        }

    }


}

.notification {
    position: absolute;
    top: auto;
    bottom: 15px;
    left: 50%;
    right: auto;

    background-color: white;

    width: 500px;
    height: 50px;

    border-radius: 7.5px;

    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
 
    transform: translateX(-50%);
    display: none;

    .notification__content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 14px;        

        p {
            color: #5c565a;
            font-size: 14px;
            font-weight: 600;
        }

    }

    .notification-show {
        animation: slideShow 1s;
        animation-direction: alternate;
    }

    .notification-hide {
        animation: slideHide 1s;
    }


}

.btn {
    font-family: 'Poppins';
    border: none;
    outline: none;
    font-size: 18px;
    background-color: $light-color-light;    
    padding: 10px 15px;
    border-radius: 5px;

    color: white;

    margin-top: 50px;

    cursor: pointer;

    transition: all .22s ease-out;

    &:hover {
        background-color: $light-color-dark;
        color: white;
    }
}

@keyframes slideShow {
    0% {
        transform: translate(-50%, 150%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes slideHide {
    0% {
        transform: translate(-50%, 0%);
    }
    100% {
        transform: translate(-50%, 150%);
    }
}