.lobby {
    width: 80%;
    min-height: 400px;

    margin: 45px auto;

    border-radius: 15px;
    display: flex;

    position: relative;
    
    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);


    &__content {
        width: 100%;
        padding: 25px 45px;
    }

    &--header {

        margin-top: 10px;
        margin-bottom: 55px;

        text-align: center;

        font-size: 36px;
        font-family: 'Poppins';
        font-weight: 600;

    }

    &__content--elements {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .lobby__content--element {
            margin-bottom: 25px;
        }

        .lobby__settings,
        .lobby__players {
            width: 49%;
        }

    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input_wrapper {
            width: 35%;
        }

        .flex__wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            width: 75%;
        }

    }

    .center-btn {
        display: flex;
        justify-content: space-around;
    }

    li.player {
        position: relative;
        font-size: 14px;
        list-style-type: none;
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid #f4bfdb;
        cursor: pointer;

        .player__admin {
            position: absolute;
            top: 2.5px;
            left: -35px;
            bottom: auto;
            right: auto;

            width: 25px;
            height: 25px;

            .player__admin--img {
                width: 100%;
                height: 100%;
            }

        }

        .player__kick {
            position: absolute;

            width: 17px;
            height: 17px;

            top: 7.5px;
            left: -31px;

            cursor: pointer;

            .player--kick {
                width: 100%;
                height: 100%;
            }

        }

        .player__popup {
            position: absolute;

            top: 0;
            left: 0;
            right: auto;
            bottom: auto;

            width: 250px;
            height: 150px;

            background-color: white;

            border-radius: 5px;

            -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
            -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
            box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

            transform: translateY(-105%);

            .popup__action-bar {
                position: absolute;

                top: 10px;
                left: 15px;

                .action {
                    width: 25px;
                    height: 25px;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

            }

            .player__popup--close {
                position: absolute;

                top: 15px;
                left: auto;
                right: 15px;
                bottom: auto;
                
                width: 15px;
                height: 15px;

                cursor: pointer;

                .close__btn {
                    width: 100%;
                    height: 100%;

                    transition: all .22s ease-out;
                }

                &:hover .close__btn {
                    transform: rotate(180deg);
                }

            }


            .popup__content {
   
                width: 100%;
                height: 100%;

                display: flex;

                flex-direction: column;

                justify-content: center;
                align-items:center;

            }

        }

        .player__wrapper {
            display: flex;
            justify-content: space-around;

            .player-name {
                width: 65%;
            }

            .player-level,
            .player-country {
                width: 22.5%;
            }

        }

    }


    .lobby__chat {
        width: 50%;
        border-radius: 5px;
        height: 260px;

        .chat {
            height: 220px;
            border-bottom: 1px solid #f4bfdb;

            #lobbyChatMessages {
                width: 100%;
                height: 100%;
                overflow-y: scroll;

                .chat__message {
                    list-style: none;
                    font-size: 13px;
                    margin-left: 2.5px;
                    word-wrap: break-word;
                    margin-bottom: 5px;

                    span {
                        font-weight: 600;
                        margin-right: 5px;
                    }

                }

            }

        }

        .send-msg {
            height: 40px;

            #lobbySend {
                font-family: 'Poppins';

                height: 33px;
                width: 75%;

                padding-left: 10px;
                padding-right: 10px;

                border-bottom-left-radius: 5px;
                border: none;
            }

            #sendLobbyMessage {
                width: 25%;
                height: 38px;

                border: none;
                background-color: #f4bfdb;

                color: white;

                border-bottom-right-radius: 5px;

                cursor: pointer;

                transition: all .22s ease-out;

                &:hover {
                    background-color: #b27092;
                    color: white;
                }

            }

            .send-msg-form {
                display: flex;
            }

        }

    }

    .lobby__close {
        position: absolute;
        top: 25px;
        left: auto;
        right: 25px;
        bottom: auto;
        
        width: 15px;
        height: 15px;

        cursor: pointer;

        .close__btn {
            width: 100%;
            height: 100%;

            transition: all .22s ease-out;

        }

        &:hover .close__btn {
            transform: rotate(180deg);
        }

    }

    .lobby__settings--btn {
        position: absolute;

        top: 21px;
        left: auto;
        right: 55px;
        bottom: auto;

        width: 22px;
        height: 23px;

        cursor: pointer;

        .settings__btn {

            width: 100%;
            height: 100%;

            transition: all .22s ease-out;

        }

        &:hover .settings__btn {
            transform: rotate(180deg);
        }
        

    }

}

.settings--modal {
    width: 45%;
    margin: 0 auto;
    padding: 45px 35px;

    border-radius: 15px;

    background-color: white;

    position: absolute;
    /* top: 50vw; */
    left: 50%;
    transform: translate(-50%, -100%);

    -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);

    .settings__close {
        position: absolute;

        top: 21px;
        left: auto;
        right: 25px;
        bottom: auto;

        width: 15px;
        height: 15px;

        cursor: pointer;

        .close__btn {
            width: 100%;
            height: 100%;

            transition: all .22s ease-out;

        }

        &:hover .close__btn {
        transform: rotate(180deg);
        }

    }
    
}
