$light-color-light: #f4bfdb;
$light-color-dark: #b27092;

body {
    background-image: url('../assets/img/login.jpg');
    background-position: center;

    width: 100vw;
    height: 100vh;
}

.login__wrapper {
    width: 100vw;
    height: 100vh;

    .center {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .login {
            background-color: white;

            border-radius: 5px;

            padding: 50px 50px;
            display: flex;

            -webkit-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
            -moz-box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
            box-shadow: 2px 4px 23px 9px rgba(0,0,0,0.1);
        }
        
        .login__input {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                margin-bottom: 5px;
                color: rgba(0,0,0,0.6);;
                font-family: 'Source Sans Pro';
                font-weight: 700;
            }

            input {
                width: 100%;
                padding: 5px 0;
                border: none;
                border-bottom: 1px solid $light-color-light;
                font-size: 13px;
            }

            input:focus {
                border-bottom: 1px solid $light-color-dark;
            }

            ::placeholder {
                color: rgba(0,0,0,0.6);
            }
        }

        .button__wrapper {
            display: flex;
            align-items: center;

            .login__btn {
                border: none;

                background-color: transparent;

                font-size: 14px;
                color: $light-color-dark;

                padding: 0;
                margin-right: 7.5px;

                cursor: pointer;

                transition: all .22s ease-out;

                &:hover {
                    margin-right: 10px;
                }

            }

            .button--img {
                width: 20px;
            }


        }

        
    }

}